.card-flip{
    perspective: 1000px;
    cursor: pointer;
}

.card.inner{
    position: relative;
    width: 100%;
    height: 280%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-flip:hover .card.inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-front{
    background-color: #fff;
    color: black;

}

.card-back{
    background-color: #f8f9fa;
    color: black;
    transform: rotateY(180deg);
    padding: 15px;
    box-sizing: border-box;
}