
.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-flip {
    perspective: 1000px;
    width: 260px;
    margin: 10px;
}
.card-inner {
    width: 100%;
    height: 350px;
    transition: transform .7s;
    transform-style: preserve-3d;
}
.card-flip:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    padding: 20px;
}

