{% extends "base.html" %}
{% block content %}

<h2 class="text-danger">Editar Platillo</h2>

<form action="/update/{{ item._id }}" method="POST">
    <label>Nombre</label>
    <input class="fomr-control mb-2" name="name" value="{{ item.name }}" required>

    <label>Precio</label>
    <input class="form-control mb2" name="price" value="{{ item.price }}" required>

    <label>Categoría</label>
    <select class="form-control mb-2" name="category">
        <option {% if item.category == "Pizzas" %}selected{% endif %}>Pizzas</option>
        <option {% if item.category == "Complementos" %}selected{% endif %}>Complementos</option>
        <option {% if item.category == "Bebidas" %}selected{% endif %}>Bebidas</option>
    </select>

    <button class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}